<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>	LoginApp</title>
	<link rel="stylesheet" href="/css/style.css">

	<link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body style="background-color: rgba(0,110,256,0.5);">
	
    <div class="container">
      <div class="header clearfix" style="background-color: rgba(0,125,0,.2);border-radius: 10px;">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/register">Register</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">Log out</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted" style="margin-left: 10px">Login App</h3>
      </div>

      
      <div class="row">
        <div class="col-lg-12">
        	{{#if success_msg}}
				<div class="alert alert-success">{{success_msg}}</div>
        	{{/if}}        	
        	{{#if error_msg}}
				<div class="alert alert-danger">{{ error_msg}}</div>
        	{{/if}}        	
        	{{#if error}}
				<div class="alert alert-danger">{{ error}}</div>
        	{{/if}}
         {{{body}}}
        	
        </div>

        

      <footer class="footer">
        <p>&copy; Company KAT Enterprises!2017</p>
      </footer>

    </div> <!-- /container -->

     <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>

</body>
</html>